.App {
  background-image: url("https://eskipaper.com/images/enjoy-a-joke-1.jpg");
  background-image:image-set(cover);
  display: grid;
  grid-template-rows: auto 1fr;
  
  color: white;
  height: max(100vh);
  padding: 1rem 0.5rem;
}

.joke-area {
  background-color: aliceblue;
  justify-self: center;
  width: 80vw;
  height: 15vw;
  border-radius: 15px;
  text-align: center;
  display: grid;
  place-items: center;
}

p {
  color: black;
  font-size: 2em;
}

.buttons {
  justify-self: left;
  display: grid;
  grid-template-rows: repeat(4, auto);
  place-items: center;
  margin-left: 2rem;
} 

button {
  font-size: 1.5em;
  border-radius: 10px;
  padding: 0.5rem;
}


