.App {
  background-image: url("https://eskipaper.com/images/enjoy-a-joke-1.jpg");
  background-image:image-set(cover);
  display: grid;
  grid-template-rows: auto 1fr;
  
  color: white;
  height: max(100vh);
  padding: 1rem 0.5rem;
}

.joke-area {
  background-color: aliceblue;
  justify-self: center;
  width: 85vw;
  height: 10vw;
  border-radius: 15px;
  text-align: center;
  display: grid;
}

p {
  color: black;
  font-size: 1.5em;
  padding: 0.25rem;
  align-self: top;
}

.buttons {
  justify-self: left;
  grid-template-rows: repeat(4, auto);
  align-content: space-evenly;
  justify-self: center;
  margin-top: 1rem;

} 

button {
  font-size: 1.5em;
  border-radius: 10px;
  padding: 0.5rem;
  cursor: pointer;
  margin: 0.25rem;
}


